
.mt15 {
  margin-top: 15px;
}

.h1 {
  font-style: oblique;
  font-weight: bold;
  color: black;
}

.h2, h3 {
  font-style: italic;
  color: black;
}

body {
    font-family: 'Open Sans',serif;
    padding-top: 60px;
    padding-left: 65px;
    color: ;
    background-image: url(../image/ghanaflag.jpg);
}

.content{
  background-color: rgba(238, 238, 238 ,0.96);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  margin-bottom: auto;
  padding-bottom: 40px;
  padding-left: 40px;
  box-shadow: 3px 4px black;
  border-radius: 0.5%;
}
.container{
  width: 90%;
  margin: auto;
}

ul.a{
  list-style-type: square;

}
